@using EDI_suppliers.Data

@page "/partnerlist"

@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject Services.IPartnerService Service

<h2>Přehled EDI partnerů</h2>

@if (partners == null)
{
}
else
{
}

@code {

    // AuthenticationState is available as a CascadingParameter
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    Boolean deleteDialogOpen = false;
    Boolean editDialogOpen = false;
    Boolean addDialogOpen = false;

    List<Partner> partners;
    Partner partner { get; set; } = new Partner();


    protected override async Task OnInitializedAsync()
    {
        partners = await Service.Get();
    }

    public void OpenDeleteDialog(int partnerId)
    {
        partner = partners.Where(x => x.PartnerId == partnerId).FirstOrDefault();
        this.deleteDialogOpen = true;
    }

    public void OpenEditDialog(int partnerId)
    {
        partner = partners.Where(x => x.PartnerId == partnerId).FirstOrDefault();
        this.editDialogOpen = true;
    }

    public void OpenAddDialog()
    {
        this.addDialogOpen = true;
        partner = new Partner();
    }

    protected async Task Delete(int partnerId)
    {
        await Service.Delete(partnerId);
        deleteDialogOpen = false;
        await OnInitializedAsync();
    }

    protected async Task Edit()
    {
        await Service.Update(partner);
        editDialogOpen = false;
        await OnInitializedAsync();
    }

    protected async Task Add()
    {
        await Service.Add(partner);
        addDialogOpen = false;
        await OnInitializedAsync();
    }
}
