@using EDI_suppliers.Data

@page "/testovani2"

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Services.ISupplierService Service

@if (suppliers == null)
{
    <h1>nacitani</h1>
}
else
{
    <MatAutocompleteList Items="@suppliers" TItem="Supplier" Label="Vyber MFG dodavatele"></MatAutocompleteList>
}

@code
{
    Partner[] partners;
    Partner partner = null;

    List<Supplier> suppliers;
    Supplier supplierMFG = null;

    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        suppliers = await Service.Get();
    }

}

