@using EDI_suppliers.Data

@page "/testovani2"

@inject HttpClient Http
@inject CustomHttpClient Http
@inject NavigationManager NavigationManager
@inject AppSettingsService AppSettingsService

@if (connectionEdis == null)
{
    <h1>nacitani</h1>
}
else
{
    <p>
        <MatAutocompleteList Items="@connectionEdis" TItem="ConnectionEdi" Label="Vyber EDI" CustomStringSelector="@(i => i.Name)" @bind-Value="@connectionEdi">
            <ItemTemplate>
                <div style="display: flex; flex-direction: row; width: 100%;">
                    <div style="flex: 1;">@context.Name</div>
                </div>
            </ItemTemplate>
        </MatAutocompleteList>
    </p>
}


@code
{
    ConnectionEdi[] connectionEdis;
    ConnectionEdi connectionEdi = null;

    string baseUrl;

    protected override async Task OnInitializedAsync()
    {
        baseUrl = AppSettingsService.GetBaseUrl();
        connectionEdis = await Http.GetJsonAsync<ConnectionEdi[]>(baseUrl + "/api/connectionedi/get");
    }
}

