<AuthorizeView>
    <Authorized>
        <BarItem>
            <BarLink To="Identity/Account/Manage">
                <BarIcon IconName="IconName.UserCircle" />
                @context.User.Identity.Name
            </BarLink>
        </BarItem>
        <BarItem>
            <BarLink To="Identity/Account/LogOut">
                <BarIcon IconName="IconName.UserCircle" />
                Logout
            </BarLink>
        </BarItem>
        @*<form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
    </Authorized>
    <NotAuthorized>
        <BarItem>
            <BarLink To="Identity/Account/Login">
                <BarIcon IconName="IconName.UserCircle" />
                Přihlásit
            </BarLink>
        </BarItem>
    </NotAuthorized>
</AuthorizeView>
