@inherits LayoutComponentBase

    <Layout Sider="true">
        <LayoutSider>
            <LayoutSiderContent>
                <Bar Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet" ThemeContrast="ThemeContrast.Dark" Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Small" @bind-Visible="siderVisible">
                    <BarBrand>
                        <BarItem>
                            <BarLink To="">
                                <BarIcon IconName="IconName.Dashboard" />
                                Blazorise Demo
                            </BarLink>
                        </BarItem>
                    </BarBrand>
                    <BarMenu>
                        <BarStart>
                            <BarLabel>Main</BarLabel>
                            <BarItem>
                                <BarLink To="">
                                    <BarIcon IconName="IconName.Dashboard" />
                                    Dashboard
                                </BarLink>
                            </BarItem>
                        </BarStart>
                    </BarMenu>
                </Bar>
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutContent>
                @Body
            </LayoutContent>
        </Layout>
    </Layout>

@*<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <Sidebar @ref="sidebar">
                <SidebarContent>
                    <SidebarBrand>
                        <a href="">EDI</a>
                    </SidebarBrand>
                    <SidebarNavigation>
                        <SidebarItem>
                            <SidebarLink To="" Title="Home">
                                <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Home
                            </SidebarLink>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarLink To="/GatewayList" Title="Přehled EDI Gateway">
                                <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Přehled EDI Gateway
                            </SidebarLink>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarLink To="/PartnerList" Title="Přehled EDI partnerů">
                                <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Přehled EDI partnerů
                            </SidebarLink>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarLink To="/SupplierList" Title="Přehled MFG Dodavatelů">
                                <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Přehled MFG Dodavatelů
                            </SidebarLink>
                        </SidebarItem>
                    </SidebarNavigation>
                </SidebarContent>
            </Sidebar>
        </LayoutSiderContent>
    </LayoutSider>
    <Layout>
        <LayoutHeader Fixed="true">
            <Bar Style="height: 64px;" Breakpoint="Breakpoint.Desktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Light">
                <BarToggler Clicked="@ToggleSidebar">
                </BarToggler>
                <BarMenu>
                    <BarStart>
                        <BarItem>
                            <BarLink To="https://blazorise.com/">Home</BarLink>
                        </BarItem>
                    </BarStart>
                    <BarEnd>

                    </BarEnd>
                </BarMenu>
            </Bar>
        </LayoutHeader>
        <LayoutContent>
            @Body
        </LayoutContent>
    </Layout>
</Layout>*@

@code
{
    private bool siderVisible = true;

    void ToggleSidebar()
    {
        siderVisible = !siderVisible;
        StateHasChanged();
    }

}