@using Microsoft.AspNetCore.Components;


<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">EDI dodavatelé</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Spojení">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Spojení
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="partnerlist" Title="EDI partneři">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />EDI partneři
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="supplierlist" Title="MFG Dodavatelé">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />MFG Dodavatelé
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>


@code
{
    Sidebar sidebar;
}
