<Sidebar @ref="sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">EDI</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Home">
                    <Icon Name="IconName.Tint" Margin="Margin.Is3.FromRight" />Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="/ConnectionList" Title="Přehled spojení">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Přehled spojení
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="/GatewayList" Title="Přehled EDI Gateway">
                    <Icon Name="IconName.Dashboard" Margin="Margin.Is3.FromRight" />Přehled EDI Gateway
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="/PartnerList" Title="Přehled EDI partnerů">
                    <Icon Name="IconName.Tint" Margin="Margin.Is3.FromRight" />Přehled EDI partnerů
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="/SupplierList" Title="Přehled MFG Dodavatelů">
                    <Icon Name="IconName.Tint" Margin="Margin.Is3.FromRight" />Přehled MFG Dodavatelů
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar sidebar;

}
